@import './index.scss';

html {
    @include for_desktop {  font-size: 16px; }
    @include for_laptop  {  font-size: 14px; }
    @include for_tablet_landscape {  font-size: 14px; }
    @include for_tablet_portrait {  font-size: 14px; }
    @include for_smartphone {  font-size: 12px; }
}

body {
    position: relative;
    margin: 0;

    height: 100vh;

    #root {
        height: inherit;
    }
}