@mixin for_smartphone {
    @media (max-width: 767px) { @content; } 
}
  
@mixin for_tablet_portrait {
    @media (min-width: 768px) and (max-width: 1023px) { @content; }
}
  
@mixin for_tablet_landscape {
    @media (min-width: 1024px) and (max-width: 1279px)  { @content; }
}

@mixin for_laptop {
    @media (min-width: 1280px) and (max-width: 1599px) { @content; }
}

@mixin for_desktop {
    @media (min-width: 1600px) { @content; }
}