.menu__toggle-arrow {
    background: url('../../../images/icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;

    padding: .5em;
    margin: auto;

    width: 3em;
    height: 3em;

    cursor: pointer;
}