@import '../../styles/index.scss';

.header {
    color: #353854;
    font-family: Roboto-Light;
    font-size: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1.header {
    font-size: 4rem;
}

h2.header {
    font-size: 3.5rem;
}

h3.header {
    font-size: 3rem;
}

h4.header {
    font-size: 2.5rem;
}