@import '../../styles/index.scss';

.layout {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.layout__side-view {
    position: fixed;
    height: 120%;
    z-index: 999;
    transition: all .2s ease;
}

.layout__main-view {
    position: relative;
    height: 100%;
    transition: all .2s ease;



}

$side-view_size_default: (
    'smartphone': 100%,
    'tablet_portrait': 250px,
    'tablet_landscape': 300px,
    'laptop': 250px,
    'desktop': 300px
);

.layout__side-view {

    @include for_desktop { 
        width: map-get($side-view_size_default, 'desktop'); 
    }

    @include for_laptop { 
        width: map-get($side-view_size_default, 'laptop'); 
    }


    @include for_tablet_landscape { 
        width: map-get($side-view_size_default, 'tablet_landscape'); 
    }


    @include for_tablet_portrait { 
        width: map-get($side-view_size_default, 'tablet_portrait'); 
    }

    @include for_smartphone { 
        width: map-get($side-view_size_default, 'smartphone');
        left: -100%;
    }

}

.layout__main-view {
    @include for_desktop { 
        margin-left: map-get($side-view_size_default, 'desktop'); 
    }

    @include for_laptop { 
        margin-left: map-get($side-view_size_default, 'laptop'); 
    }


    @include for_tablet_landscape { 
        margin-left: map-get($side-view_size_default, 'tablet_landscape'); 
    }


    @include for_tablet_portrait { 
        margin-left: map-get($side-view_size_default, 'tablet_portrait'); 
    }

    @include for_smartphone { 
        margin-left: 0; 
    }
}

.layout--mobile-overlayed {

    @include for_smartphone { 
        .layout__side-view {
            left: 0%;
        }

        .layout__main-view {
            margin-left: 0; 
        }
    }
}

.layout__container-main {
    margin: 0 auto;
    padding: 3em 0;

    @include for_smartphone { 
        min-width: 270px;
        max-width: 360px;
        width: 90%;
    }

    width: 90%;

}















