@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.eot') format('eot'), url('./fonts/Roboto-Regular.ttf') format('ttf'), url('./fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.eot') format('eot'), url('./fonts/Roboto-Light.ttf') format('ttf'), url('./fonts/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.eot') format('eot'), url('./fonts/Roboto-Bold.ttf') format('ttf'), url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
}


@font-face {
    font-family: 'Roboto-Thin';
    src: url('./fonts/Roboto-Thin.eot') format('eot'), url('./fonts/Roboto-Thin.ttf') format('ttf'), url('./fonts/Roboto-Thin.woff') format('woff');
    font-weight: bold;
}