.dropdown {
  display: inline-block;
  border-radius: 10px;
  font-family: Roboto-Regular;
  font-size: 1em;
  line-height: 1em;
}



.dropdown__label {
  padding: .75em 1.5em;
  color: white;
  background-color: #fa6b49;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 2px solid #fa6b49;
  position: relative;
  vertical-align: baseline;
  
}

.dropdown__label::before {
  content: "";
  background-color: hsla(0,0%,100%,.2);
  height: 3em;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -75%;
  transform: skewX(-45deg) translateX(0);
  transition: none;
  opacity: 0;
}

.dropdown__label:hover::before {
  transition: all 2s ease;
  opacity: 1;
  left: 125%;
}

.dropdown__select {
  padding: .75em;
  font-size: 1em;

  border-radius: 0 5px 5px 0;
  border-left: 0;
  box-sizing: border-box;
  cursor: pointer;
}