@import '../../styles/index.scss';

.header {
    color: #353854;
    font-family: Roboto-Light;
    font-size: 2em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1.header {
    font-size: 4em;
}

h2.header {
    font-size: 3.5em;
}

h3.header {
    font-size: 3em;
}

h4.header {
    font-size: 2.5em;
}