@import '../../../styles/breakpoints.scss';

.list-layout {
    margin: 3rem 0 0;
}

.list-layout--grid {

    .list-layout__item {
        display: inline-block;
        vertical-align: top;
    }


    @include for_smartphone {
        .list-layout__item {
            width: 100%;
            margin: 1rem 0
        }
    }

    @include for_tablet_portrait {
        .list-layout__item {
            width: 48%;
            margin: 1rem 2%;
        }

        .list-layout__item:nth-child(2n - 1) {
            margin-left: 0;
        }
    
        .list-layout__item:nth-child(2n) {
            margin-right: 0;
        }  
    }


    @include for_tablet_landscape {
        .list-layout__item {
            width: 25%;
            margin: 1rem 6.25%;
        }

        .list-layout__item:nth-child(3n - 2) {
            margin-left: 0;
        }
    
        .list-layout__item:nth-child(3n) {
            margin-right: 0;
        }  
    }
    

    @include for_laptop {
        .list-layout__item {
            width: 22%;
            margin: 1rem 2%;
        }

        .list-layout__item:nth-child(4n - 3) {
            margin-left: 0;
        }
    
        .list-layout__item:nth-child(4n) {
            margin-right: 0;
        }   
    }

    @include for_desktop {
        .list-layout__item {
            width: 22%;
            margin: 1rem 2%;
        }

        .list-layout__item:nth-child(4n - 3) {
            margin-left: 0;
        }
    
        .list-layout__item:nth-child(4n) {
            margin-right: 0;
        }       
    } 

}

.list-layout__item {
    opacity: 0;
    transition: opacity 1s ease;
}

.list-layout__item--loaded {
    opacity: 1;
}